<!--==============================content================================-->
<section id="content">
  <div class = "sub-page">
    <div class="sub-page-left">
      <h2 class="p2">About us</h2><hr/>        
      <div class="wrap"> <img src="images/car11.jpg" alt="" class="img-indent">
        <div class="extra-wrap">
          <p class="text-2 p2">What can we offer?</p>
          <p> Kraków is one of the most-visited places in Poland, it is known as one of the most beautiful showpieces of Central Europe, so if you’re planning a visit this city, you can hire a car in our rental to get wherever you want. We have plenty of branches at key locations around the city. </p>
        </div>
      </div>
      <h2 class="top-1 p3">Try us!</h2> 
      <p>We guarantee best price on market. That means that if you find a lower price elsewhere, we'll refund the difference. And with no fees for credit card booking, amendment or cancellation, you can get your trip under way without any fuss. Our aim is to get you on the road as smoothly as possible, so you can browse our car collections online and your car will be waiting for you at the branch of your choosing.</p>
      <div class="clear"></div>
    </div>
    <div class="sub-page-right">
        <%= render 'shared/openh' %>
    </div>
  </div>
</section>

