<!--==============================content================================-->
  <section id="content">
 	<div class = "sub-page">
        <div class="sub-page-left">
        	<h2 class="p2">About us</h2>     
      	 <div class="wrap"> <img src="images/car11.jpg" alt="" class="img-indent">
          <div class="extra-wrap">
            <p class="text-2 p2">sit amet consetetur sadipscing</p>
            <p class="upper">We are new company dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
          </div>
        </div>
      
         <h2 class="top-1 p3">What can we offer?</h2> 
         
        <p class="upper">voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
   

        





      <div class="clear"></div>
   	 </div>




     	<div class="sub-page-right">
        <%= render 'shared/openh' %>
     	</div>

    </div>
  </section>

