<section id="content">
 	<div class="sub-page">
 		<div class="sub-page-left">
			<h1>Editing User</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @user %> |
			<%= link_to 'Back', users_path %>
		</div>
		<div class="sub-page-right">
      		<%= render 'shared/openh' %>
   		</div>
	</div>
</section>