<h2 ><span>Opening</span> hours</h2>
  <% if current_user %>
    <p>Welcome  <%= current_user.name %>!</p>
  <%end%>

  <p class="p2"><strong>When you can visit us?</strong> </p>
    <p>
      <table>
       <tr>
          <td>Monday</td>
          <td>6:00-22:00</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>6:00-22:00</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>8:00-20:00</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>6:00-22:00</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>8:00-20:00</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>6:00-18:00</td>
        </tr>
      </table>
    </p>
  <p><strong>Where you can find us?</strong></p>
<p>Kraków Bronowicka 11</br>30-121 Kraków</p>