<section id="content">
	<div class="sub-page">
		<div class="sub-page-left">

			<h2>New Customer</h2>
			<hr/>

			<%= render 'form' %>

			<div class="button"><%= link_to 'Back', customers_path %></div>
		</div>
		<div class="sub-page-right">
			<%= render 'shared/openh' %>
		</div>


	</div>
</section>