<section id="content">
  <div class="sub-page">
    <div class="sub-page-left box-9">
      <h2 class="p4">Price List</h2><hr/>
      <div class="price">
        <table>
          <tr>
            <th>&nbsp;</th>
            <th>One Day</th>
            <th>Two Days</th>
            <th>Three Days</th>
            <th>One Week</th>
          </tr>
          <tr>
            <td>Holiday Time</td>
            <td>100 €</td>
            <td>175 €</td>
            <td>250 €</td>
            <td>400 €</td>
          </tr>
          <tr>
            <td>Christmas Time</td>
            <td>90 €</td>
            <td>145 €</td>
            <td>200 €</td>
            <td>350 €</td>
          </tr>
            <tr>
            <td>Other</td>
            <td>700 €</td>
            <td>100 €</td>
            <td>200 €</td>
            <td>300 €</td>
          </tr>
        </table>
      </div>
      <h1>If you have any question call (012) 660 600 100</h1>
    </div>
    <div class="sub-page-right">
      <%= render 'shared/openh' %>
    </div>
  </div>
</section>